*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color:#be4f4f;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 48px;
}
nav ul{
    list-style-type: none;
    display: flex;

}
nav ul a{
    text-decoration: none;
    padding: 22px 10px;
    margin: 5px 10px;
    color: white;
}
h1{
    font-size: 36px;
    color: white;
}
.submenu{
    position: absolute;
    background-color:#be4f4f;;
    left: 0;
    top: 39px;
    flex-direction: column;
    display: none;
    box-shadow: 2px 2px 2px 2px black;
}
.submenu li{
    border-bottom: 1px solid black;
}
nav li{
    position: relative;
}
nav ul li:hover .submenu{
    display: flex;
}